body {
    padding-top: 210px;
    padding-bottom: 70px;
}
.navbar{
    background: #040497;
}
.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #f4f4f4;
    color: #f97300;
}
.navbar-collapse{
    justify-content: between;
}
.header{
    background-image: url('../images/mount.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}
.about{
    margin: 1em 0;
    padding: 1em;
    position: relative;
}
.about h1{
    color:#F97300;
    margin: 2em;
}
.about img{
    border-radius: 80%
}
.about span{
    background-color: #c2f8c4;
    color: #f30303;
    font-weight:bold;
}
.about .desc{
    padding: 2em;
    border-left:4px solid #10828C;
}
.about .desc h3{
    color: #10828C;
}
.about .desc p{
    line-height:2;
    color:#888;
}
.bot {
    color: aliceblue;
}
