extends layout

block content
  div(class="container-fluid trips")
    div(class="row")
      div(class="col-8 border border-dark rounded")
        h1 Администрирование сайта
        form(method="post")
          div(class="form-group")
            label Выберите таблицу
            select(class="form-control" id="TablesName" name="tablename")
              - if(tables != null)
                - for (var x = 0; x < tables.length; x++)
                  option #{tables[x].table_name}
            div(class="text-right")
              button(type="submit" id="getData" class="btn btn-primary my-2" ) Получить
              button(type="submit" id="deleteData" formaction="/admin/del" class="btn btn-primary my-2 mx-2") Удалить
          div(class="form-group")
            label Данные таблицы
            table(class="table table-responsive")
              thead(class="thead-dark")
                th(scope="col") №
                - if(datainf != null)
                  - for (var x = 0; x < datainf.fields.length; x++)
                    th(scope="col") #{datainf.fields[x].name}
              tbody
                - if(datainf != null)
                  - for (var x = 0; x < datainf.rows.length; x++)
                    tr
                    th(scope="row") #{x+1}
                    - for (var y = 0; y< datainf.fields.length; y++)
                      td #{datainf.rows[x][datainf.fields[y].name]}
