extends layout

block content
  - for (var x = 0; x < user.length; x++)
    div(class="container-fluid about text-center")
      div(class="row")
        div(class="col-2 center-block")
          img(src="images/"+user[x].picfilename,class="img-fluid")
          span #{user[x].information}
        div(class="col-10 desc")
          h3 #{user[x].name}
          p #{user[x].information}

