extends layout

block content
  <div class="container-fluid text-center news">
  <div class="row">
  <div class="col-10">
  <form>
  <div class="form-group text-border">
  <label for="NewsList">Новости</label>
  <textarea class="form-control " id="NewsList" rows="20"></textarea>
  </div>
  </form>
  </div>
  <div class="col-2">
  <form>
  <div class="form-group">
  <label for="inputDate">Введите дату:</label>
  <input type="date" class="form-control" id="inputDate">
  </div>
  </form>
  </div>
  </div>
  </div>
