extends layout

block content
  div(class="container-fluid trips")
    div(class="row")
      div(class="col-6 border border-dark rounded")
        h1 График походов
        form
          div(class="form-group")
            label(for="FormTypeOfTrips") Вид похода
            select(class="form-control" id="FormTypeOfTrips")
              option Горный
              option Велопоход
              option Сплав
              option Пеший
          div(class="form-group")
            label(for="TypeOfMembers") Вид похода
            select(class="form-control" id="TypeOfMembers")
              option Новичек
              option Бывалые
              option Мастера
          div(class="form-group")
            label(for="ListOfTrips") Доступные походы
            textarea(class="form-control" id="ListOfTrips" rows="10")
