extends layout

block content
  div(class="container-fluid workouts")
    div(class="row")
      div(class="col-6 border border-dark rounded")
        h1 Запись на тренировки
        form
          div(class="form-group")
            label(for="Name") Ваше Фамилия Имя
            input(type="text",class="form-control",id="Name")
          div(class="custom-control custom-checkbox")
            input(type="checkbox",class="custom-control-input",id="Sunday")
            label(class="custom-control-label",for="Sunday") Воскресенье
          div(class="custom-control custom-checkbox")
            input(type="checkbox",class="custom-control-input",id="Monday")
            label(class="custom-control-label",for="Monday") Понедельник
          div(class="custom-control custom-checkbox")
            input(type="checkbox",class="custom-control-input",id="Tuesday")
            label(class="custom-control-label",for="Tuesday") Вторник
          div(class="custom-control custom-checkbox")
            input(type="checkbox",class="custom-control-input",id="Wednesday")
            label(class="custom-control-label",for="Wednesday") Среда
          div(class="custom-control custom-checkbox")
            input(type="checkbox",class="custom-control-input",id="Thursday")
            label(class="custom-control-label",for="Thursday") Четверг
          div(class="custom-control custom-checkbox")
            input(type="checkbox",class="custom-control-input",id="Friday")
            label(class="custom-control-label",for="Friday") Пятница
          div(class="custom-control custom-checkbox")
            input(type="checkbox",class="custom-control-input",id="Saturday")
            label(class="custom-control-label",for="Saturday") Суббота
          div
            button(type="button",class="btn btn-primary") Записаться
